[package]
name = "postcard"
version = "0.5.2"
authors = ["James Munns <james.munns@ferrous-systems.com>"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/jamesmunns/postcard"
description = "A no_std + serde compatible message library for Rust"
license = "MIT OR Apache-2.0"
categories = [
    "embedded",
    "no-std",
]
keywords = [
    "serde",
    "cobs",
    "framing",
]
documentation = "https://docs.rs/postcard/"

[package.metadata.docs.rs]
all-features = true

[dependencies]

[dependencies.heapless]
version = "0.5.4"
default-features = false
features = ["serde"]
optional = true

[dependencies.serde]
version = "1.0.100"
default-features = false
features = ["derive"]

[dependencies.cobs]
package = "postcard-cobs"
version = "0.1.5-pre"
default-features = false

[features]
use-std = ["serde/std"]
default = ["heapless-cas"]
heapless-cas = ["heapless", "heapless/cas"]
alloc = ["serde/alloc"]
