[package]
name = "postcard"
version = "1.0.3"
authors = ["James Munns <james@onevariable.com>"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/jamesmunns/postcard"
description = "A no_std + serde compatible message library for Rust"
license = "MIT OR Apache-2.0"
categories = [
    "embedded",
    "no-std",
]
keywords = [
    "serde",
    "cobs",
    "framing",
]
documentation = "https://docs.rs/postcard/"


[package.metadata.docs.rs]
all-features = true

[dependencies]

[dependencies.const_format]
version = "0.2.24"
optional = true

[dependencies.heapless]
version = "0.7.0"
default-features = false
features = ["serde"]
optional = true

[dependencies.serde]
version = "1.0.100"
default-features = false
features = ["derive"]

[dependencies.cobs]
version = "0.2.3"
default-features = false

[dependencies.defmt]
version = "0.3.0"
optional = true

[dependencies.postcard-derive]
path = "./postcard-derive"
version = "0.1.1"
optional = true

[features]
default = ["heapless-cas"]

use-std = ["serde/std", "alloc"]
heapless-cas = ["heapless", "heapless/cas"]
alloc = ["serde/alloc"]
use-defmt = ["defmt"]

# Experimental features!
#
# NOT subject to SemVer guarantees!
experimental-derive = ["postcard-derive", "const_format"]

[workspace]
members = ["postcard-derive"]
